/* color palette: light rose: #F9ECEC , darker light rose:#F0D9DA , darker light blue: #C8D9EB, light blue: #ECF2F9 */
body {
    background-color:#F9ECEC ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    margin: 120px auto;  
    max-width: 600px;
    
 }

header {
    margin-bottom: 30px;
}
h1 {
    font-weight:900;
    font-size: 36px;
    line-height: 1.5;
    font-family:Arial, Helvetica, sans-serif;
    
}

a {
    color: black;
    font-weight:bold;
}

.form-container {
    background-color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 20px 60px rgba (0, 0, 0, 0.2);
    padding: 20px;
}
form {
   display: flex;
}

.hint {
   line-heigt: 1.5;
   font-size: 12px;
   margin-top: 5px; 
   opacity: 0.6;
}
.instructions {
    padding: 16px;
    border: 1px solid #C8D9EB ;
    border-radius: 5px;
    width: 80%;
    font-size: 16px;
    line-height: 20px;
    color: black;
}

.submit {
    border-radius: 5px;
    background-color: #C8D9EB;
    border: #C8D9EB;
    padding: 14px 24px;
    width: 150px;
    margin-left: 20px;
    font-size: 16px;
    font-weight:bold;
    
}

.poem {
    font-size: 14px;
    background-color: white;
    padding: 20px;
    line-height: 24px;
    border-left: 3px solid  #C8D9EB;
    box-shadow: 0px 20px 60px rgba (0, 0, 0, 0.2);
   border-radius: 5px;
}

.hidden {
    display: none;
}

footer {
    
    font-size: 13px;
    margin-top: 30px;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

.blink {
    animation: blink 2s step-start 0s infinite;
}